
/* Landing Page */

.landing-page {
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--light-green);
    padding: 96px 50px;
    box-sizing: border-box;

    color: var(--text-gray);

    .landing-page__left-top-text {
        font-size: 9rem;
        font-weight: 400;
        text-align: left;
        margin: 0;
    }

    .landing-page__right-bottom-text {
        font-size: 9rem;
        font-weight: 400;
        text-align: right;

        margin: 40px 0;
    }

    .landing-page__left-bottom-text,
    .landing-page__left-bottom-text--small {
        font-size: 1.5rem;
        position: absolute;
        bottom: 20px;
        font-weight: 400;
    }

    .landing-page__left-bottom-text--small {
        display: none;
    }

    #landing-page__animation {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        z-index: 0;

        .circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--dark-green);
        }
    }

}

@media screen and (max-width: 1444px) {
    .landing-page {
        width: 100%;
        height: 100vh;
        padding: 50px 12px;

        h1.landing-page__left-top-text,
        .landing-page__right-bottom-text {
            font-size: 4rem;
        }

        .landing-page__left-top-text {
            padding-top: 100px;
            position: absolute;
            top: 0%;
            left: 2%;
        }

        .landing-page__right-bottom-text {
            padding-top: 100px;
            position: absolute;
            right: 5%;
            bottom: 0%;
        }

        .landing-page__left-bottom-text,
        .landing-page__left-bottom-text--small {
            font-size: 1rem;
        }

        .landing-page__left-bottom-text {
            display: none;
        }

        .landing-page__left-bottom-text--small {
            display: block;
            max-width: 50%;
        }


        #landing-page__animation {
            padding: 20px;
            top: 50%;

            .circle {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media screen and (min-width: 350px) and (max-width : 500px) {
    #header {

        nav {
            padding: 20px;
        }
    }

    .landing-page {
        width: 100%;
        height: 100vh;
        padding: 50px 20px;

        h1.landing-page__left-top-text,
        .landing-page__right-bottom-text {
            font-size: 3rem;
        }

        .landing-page__left-top-text {
            padding: 75px 0;
        }

        .landing-page__right-bottom-text {
            position: absolute;
            right: 5%;
            bottom: 20%;
        }

        .landing-page__left-bottom-text,
        .landing-page__left-bottom-text--small {
            font-size: 1.2rem;
            font-weight: 400;
        }

        .landing-page__left-bottom-text {
            display: none;
        }


        .landing-page__left-bottom-text--small {
            max-width: 100%;
        }

        #landing-page__animation {
            padding: 0;
            top: 50%;

            .circle {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .landing-page {
        width: 100%;
        height: 100vh;
        padding: 50px 12px;

        h1.landing-page__left-top-text,
        .landing-page__right-bottom-text {
            font-size: 2.5rem;
        }

        .landing-page__right-bottom-text {
            padding-top: 100px;
            position: absolute;
            right: 5%;
            bottom: 20%;
        }

        .landing-page__left-bottom-text,
        .landing-page__left-bottom-text--small {
            font-size: 1rem;
        }

        .landing-page__left-bottom-text {
            display: none;
        }

        .landing-page__left-bottom-text--small {
            max-width: 100%;
        }

        #landing-page__animation {
            padding: 0;
            top: 40%;

            .circle {
                width: 15px;
                height: 15px;
            }
        }
    }
}

